<?xml version="1.0"?>

<launch>
  <arg name="serial_port" default="/dev/ttyUSB0" />
  <arg name="serial_baudrate" default="460800" />
  <arg name="type" default="omni" />
  <arg name="type_verify" default="true" />
  <arg name="publish_tf" default="true" />
  <node pkg="tianbot_core" type="tianbot_core" name="tianbot_core" output="screen">
    <param name="serial_port" type="string" value="$(arg serial_port)"/>
    <param name="serial_baudrate" type="int" value="$(arg serial_baudrate)"/>
    <param name="type" type="string" value="$(arg type)"/>
    <param name="type_verify" type="bool" value="$(arg type_verify)"/>
    <param name="publish_tf" type="bool" value="$(arg publish_tf)"/>
  </node>
</launch>
