<launch>
    <!-- For Simulation -->
    <arg name="sim_mode" default="false" />
    <param name="/use_sim_time" value="$(arg sim_mode)"/>
    
    <!-- move base -->
    <node pkg="f1tenth_tianracer_navigation" type="multi_goals.py" respawn="false" name="multi_goals" output="screen">
        <!-- params for move_base -->
        <!-- <param name="goalListX" value="[-2.798, -3.764 , -1.735, -0.144]" />
        <param name="goalListY" value="[3.926, -2.248, -9.298, 0.057]" /> -->
        <param name="goalListX" value="[-2.798, -3.364 , -1.735, -0.144]" />
        <param name="goalListY" value="[4.026, -2.448, -8.998, 0.057]" />

        <param name="QuaternionListX" value="[0, 0 , 0, 0]" />
        <param name="QuaternionListY" value="[0, 0, 0, 0]" />
        <param name="QuaternionListZ" value="[1, 0.980 , 0, 0.717]" />
        <param name="QuaternionListW" value="[0, -0.201, 1, 0.698]" />
        <param name="map_frame" value="map" />
    </node>
    

</launch>
