<?xml version="1.0"?>

<launch>

    <!-- map
       <arg name="map" default="$(find f1tenth_simulator)/maps/levine_blocked.yaml"/>
    -->

    <!-- Map server -->
    <arg name="map" default="$(find tianracer_slam)/maps/tianbot_office.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

    <!-- Pub tf map to odom -->
    <node pkg="tf" name="map_odom_broadcaster" type="static_transform_publisher" output="screen"
      args="0 0 0 0 0 0 /map /odom 100" />
    

    <!-- Navigation -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base">
        <rosparam file="$(find xiaomu_nav)/param/teb/move_base_params.yaml" command="load"/> <!---->
        <rosparam file="$(find xiaomu_nav)/param/teb/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find xiaomu_nav)/param/teb/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find xiaomu_nav)/param/teb/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find xiaomu_nav)/param/teb/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find xiaomu_nav)/param/teb/global_planner_params.yaml" command="load" />
        <rosparam file="$(find xiaomu_nav)/param/teb/teb_local_planner_params.yaml" command="load" />        

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="10" /> <!--10   15 -->               
        <param name="planner_patience" value="5" />                  
        <param name="use_dijkstra" value="true" /> 
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="5" />             
        <param name="controller_patience" value="5" /> 
    </node>

    <!-- cmd_vel to ackermann_cmd   -->
    <node pkg="xiaomu_nav" type="cmd_vel_to_ackermann_drive.py" name="vel_to_ackermann" >
        <param name="twist_cmd_topic" value="/cmd_vel" />
	<param name="ackermann_cmd_topic" value="/tianracer/ackermann_cmd" />
	<!--remap from="/cmd_vel" to="/cmd_vel_111" /-->
    </node> 


</launch>
