<?xml version="1.0"?>

<launch>
  <include file="$(find xiaomu_nav)/launch/f1_teb_nav.launch">
  </include>
  <include file="$(find xiaomu_nav)/launch/multi_goal.launch">
  </include>
  
  
<!--reactive_meathod.py-->
  <node pkg="xiaomu_nav" type="run_in_closed_map.py" name="middle_line"/>
</launch>
